.profile{
    width: 20%;
    box-shadow: 0px 0px 40px rgb(0, 162, 255);
    border-radius: 50%;
}

.About-me{
    align-items: center;
    display: flex;
    height: auto;
    width: 100%;
    border-left: 2px solid #4CC9F0;
    border-right: 2px solid #4CC9F0;
    padding: 0 50px;
    background-color: rgba(0, 0, 0, 0.399);  


}

.introduction{
    align-items: center;
    display: flex;
    height: 50%;
    width: 100%;  
}

.Alien{
    width: 10%;
    box-shadow: 0px 0px 40px rgb(230, 0, 255);
    border-radius: 50%;

}

.About-me div{
    padding: 40px 20px;

}

.introduction div{
    padding: 40px 20px;
    

}

.intro{
    font-family: "Press Start 2P", system-ui;
    font-size: 20px;
}

.info-about-me{
    font-family: "Press Start 2P", system-ui;
    font-size: 20px;
    padding-right: 120px;
}


.container{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin-left: 100px;
    margin-right: 200px;

}

.About-me ul li{
    list-style: none;
    padding-bottom: 10px;
}

h2{
    padding-left: 40px;
}


@media (max-width: 900px) {

    .profile{
        width: 100px;
    }

    .intro{
        font-size: 60%;
    }

    h2{
        padding-left: 40px;
    }

    .About-me{
        height: 30%;
        width: 100%;    
        
    }

    .introduction{
        height: 30%;
        width: 100%;
    }
    
    .About-me div{
        padding: 5%;

    }

   .info-about-me{
   
    font-size: 60%;
   }

   .container{
    margin-right: 120px;
    margin-left: 25px;
   }

    
}