.WelcomeText{
    width: 25ch;
    font-family: "Press Start 2P", system-ui;
    font-size: 40px;
    text-align: center;
    margin: 15% 25%;
    text-wrap: nowrap;
    overflow: hidden;
    color: White;
    animation: WelcomeText 3s steps(25) infinite alternate-reverse;
}

@keyframes WelcomeText{
    from{
        width:0ch;
    } to{width: 25ch;}
}
.Next {
    font-family: "Press Start 2P", system-ui;
    text-align: center;
}

.Next a{
    color: white;
}

.Next a:hover{
    color: #ea02ff;
    font-size: 20px;
}


body{
    background-color: #000000;
    
    justify-content: center;
}

@media (max-width: 800px) {

    .WelcomeText{
        text-align: center;
        width: 25ch;
        font-size: 90%;
        margin: 50% 10%;
    }
}







