.banner {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid #4cc9f0;
  border-top: 2px solid #4cc9f0;
}

.All-Essays {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  align-self: center;
}


.essays-container {
  width: 25%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Exo 2", sans-serif;
}

.banner-div {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.essays-container section {
  width: 100%;
  border: 2px solid #4cc9f0;
  border-radius: 10px;
  height: 330px;
  background-color: rgba(13,25, 63, 0.536);
  height: 100%;
}

.essay-discription {
  font-weight: lighter;
  padding-left: 3%;
  padding-right: 3%;
}

.view-pdf-paragraph {
  background-color: rgba(1, 108, 123, 0.473);
  transform: skew(-20deg);
  width: 30%;
  padding: 2%;
  text-align: center;
}

.view-pdf-paragraph a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 90%;
}

.view-pdf-paragraph a:hover {
  color: rgb(119, 119, 119);
}



@media (max-width: 768px) {
  .essays-container section {
    width: 50%;
    height: 100%;
  }

  .essays-container {
  width: 100%;
  justify-content: center;
    
  }
  .banner-div {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
}