

.Sectionsdiv div {
    overflow: hidden; 
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top:  2rem;
    padding-top: 100px;

}



.Sectionsdiv{
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 25%;
}




.Sectionsdiv div::-webkit-scrollbar{
    width: 8px;
}

.Sectionsdiv div::-webkit-scrollbar-thumb {
    background: rgb(171, 221, 254);
    border-radius: 5px;
}
.SideBar{
    
        width: 200px;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.079) ;
        color: #fff;
        padding-top: 20px;
        position: fixed; /* sticks it to the side */
        top: 80px;
        left: 0;
        box-shadow: 1px 5px 8px rgb(255, 0, 234);
        justify-content: center;
      
}

.SideBar ul li{
    list-style: none;
    justify-content: space-between;
    padding-bottom: 120px;
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
    text-wrap: wrap;
}

.SideBar li a{
    color: #fff;
}

.SideBar li a:hover{
    color: rgb(255, 0, 251);
}

h3{
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-size: 15px;
}


