.Sectionsdiv div {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 70%;
    padding-top: 100px;
    padding-left: 3%;
    background-color: rgba(0, 0, 0, 0.259);
    box-shadow: 0px 0px 8px rgb(0, 106, 255);

}


.heading1{
    padding-left: 20%;
}

.container{
    justify-content: space-between;
    
}

.images{
    width: 500px;
    height: 250px;
}
.Sectionsdiv {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    
}



.SideBar {
    width: 20%;
    height: 70vh;
    color: #fff;
    position: fixed;
    top: 80px;
    left: 0;
    display: flex;
    transition: all 1s;
    left: -210px;
}

.SideBar ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 5px 8px rgb(255, 0, 234);
    width: 120%;
    background-color: rgba(21, 0, 16, 0.662);
    padding-top: 50px;
    

}

.SideBar ul li {
    list-style: none;
    padding-bottom: 100px;
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
    text-align: center;
    word-wrap: break-word;
}

.SideBar li a {
    color: #fff;
    text-decoration: none;
}

.SideBar li a:hover {
    color: rgb(255, 0, 251);
}

h3 {
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-size: 15px;
}


.ColourSectiondiv{
    font-family: "Exo 2", sans-serif;
    font-weight: 100px;
}

.IxD-Process{
    font-family: "Exo 2", sans-serif;

}

#sideBarButton{
    padding-left: 150%;
    padding-top: 50%;

    font-size: 30px;
}

#sideBarButton:hover{
    filter: drop-shadow(1px 1px 10px rgb(0, 179, 255));

}




@media (max-width: 768px) {
    .SideBar {
        position: fixed;
        height: 74vh;
        width: 25%;
        box-shadow: none;
        top: 9.5%;
        left: -23%;
        padding: 10px 0;
    }

    .images{
        width: 200px;
        height: 100px;
        
    }

  
    .SideBar ul{
        padding-top: 10%;
        align-items: center;
        
    }

    .SideBar ul li {
        padding-bottom: 60%;
        font-size: 50%;
    }

   .Sectionsdiv{
        width: 80%;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        gap: 10rem;
    }

    .Sectionsdiv div {
        padding-top: 90px;
        padding-left: 10%;
        width: 100%;
    }

    h3 {
        font-size: 12px;
    }

    .container{
        display: flex;
        padding-left: 8%;
    }

    
}
