.Wireframesdiv:hover{
    width: 500px;
    height: 400px;
}

.Wireframesdiv:hover{
    width: 700px;
    height: 400px;
}

.Buttonsdiv:hover{
    width: 700px;
    height: 400px;
}

.VisualDesigndiv:hover{
    width: 700px;
    height: 400px;
}

.Sectionsdiv div {
    width: 400px;
    height: 400px;
    overflow: hidden; 
    background-color: #001128 ;
    padding: 10px;
    border: 1px solid #84b5ff;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    display: inline-block;
}



.Sectionsdiv{
    align-items: center;
    justify-content: space-between;
    width: Flex;
    border: 1px solid #84b5ff;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    
}

.DesignList li{
    display: inline-block;

}

.DesignList div:hover {
    overflow: auto;
    box-shadow: 0px 4px 10px rgb(0, 8, 255);
    
}


.DesignList div::-webkit-scrollbar{
    width: 8px;
}

.DesignList div::-webkit-scrollbar-thumb {
    background: rgb(171, 221, 254);
    border-radius: 5px;
}

