.portfolio-container{
    width: 70%;
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    align-items: center;

}

h2{
    text-align: center;
    font-size: 50px;
    font-family: "Exo 2", sans-serif;

}
.portfolio-container .Game{
    width: 70%;
    border-left:  2px solid #4CC9F0;
    border-right:  2px solid #4CC9F0;
    background-color: rgba(43, 1, 37, 0.478);
    padding: 2%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-family: "Exo 2", sans-serif;
}

.Game a{
    text-decoration: none;
    color: rgb(0, 242, 255);
}

.Game a:hover{
    text-decoration:underline;
}

.art-covers{
    border-radius: 20px;
    width: 30%;

}

.artwork{
    width: 30%;
    box-shadow:  0px 0px 15px #0091ff;
    border:  5px solid #030b3e;


}

.Art{

    border-left:  2px solid #4CC9F0;
    border-right:  2px solid #4CC9F0;
    align-items: center;
    width: 100%;
    padding-left: 7%;

}



@media (max-width: 800px) {

    .portfolio-container{
        width: 90%;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        align-items: center;
        
    }

    .portfolio-container .Game{
        width: 100%;
        font-size: 80%;
    }

    .art-covers{
        border-radius: 20px;
        width: 30%;
    
    }

    .artwork{
        width: 20%;
    box-shadow:  0px 0px 15px #0091ff;
    border:  5px solid #030b3e;
    }
}




